@charset "UTF-8";
html, body {
  background-color: white;
  -webkit-tap-highlight-color: 0;
  height: 100%; }

html {
  font-size: 62.5%;
  /*10/16= 0.625,1rem=10px*/
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size-adjust: none;
  line-height: 1; }

body, button, input, select, textarea {
  font-family: 微软雅黑, 华文细黑,Helvetica,Tahoma,Arial, sans-serif;
  font-size: 1.4rem;
  color: #333;
  background-color: white; }

body, ul, ol, dl, dt, dd, li, h2, h3, h4, h6, p, input, hgroup, button {
  margin: 0;
  padding: 0; }

ul, ol, dl {
  list-style: none; }

em, address, i {
  font-style: normal; }

a:hover {
  cursor: pointer; }

a:focus {
  outline: 0; }

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  outline: 0;
  text-decoration: none; }

input,
textarea,
button,
a, a:hover, a:active, button, button:active {
  outline: 0;
  -webkit-outline: none;
  -webkit-tap-highlight-color: transparent; }

img {
  border: 0 none; }

img, object, embed, video, iframe {
  width: 100%;
  max-width: 100%;
  height: auto; }

input, img, select, button {
  vertical-align: middle; }

input {
  outline: none;
  -webkit-appearance: none !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

input, button {
  background: 0 none;
  border: 0 none; }

del {
  color: #999; }

td {
  vertical-align: top;
  padding: 4px;
  font-size: 1.4rem; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.fsnorm {
  font-style: normal !important; }

.floatl {
  float: left !important; }

.floatr {
  float: right !important; }

.nomargin {
  margin: 0 !important; }

.nopad {
  padding: 0 !important; }

.fullh {
  width: 100% !important; }

.fullv {
  height: 100% !important; }

.halfh {
  width: 50% !important; }

.center {
  text-align: center !important; }

.txtl {
  text-align: left !important; }

.txtr {
  text-align: right !important; }

.circle {
  border-radius: 50% !important; }

.disib {
  display: inline-block !important; }

.disn {
  display: none !important; }

.disb {
  display: block !important; }

.bordern {
  border: none !important; }

.vat {
  vertical-align: top !important; }

.curptr {
  cursor: pointer !important; }

.nobordertop {
  border-top: none !important; }

.noborderbottom {
  border-bottom: none !important; }
